<!DOCTYPE html>
<html>
	<head>
		<title>Just a Title</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
		<img src= "http://www.shauntmax30.com/data/out/30/1200566-no-game-no-life-hd-wallpapers-backgrounds.jpg" alt= "Anime" >		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
        		<li><a href="/cv">CV</a></li>
        		<li><a href="/blog">Blog</a></li>
    		</ul>
		</nav>
		<div class="container">
    		<div class="blurb">
        		<h1>Hi there, I am Wesley Tat.</h1>
				<p><mark>I am a student attending high school in 2016 and I hope to finish by 2019. Beside going to school I suffer daily from my classes(AP BIO) and I enjoy to play tennis whenever I have time. 
					Beside playing tennis I enjoy to play computer and waste time every weekend.</mark><a href="/about"> Read more about my life...</a></p>
    		</div><!-- /.blurb -->
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="malito:westwwe590@gmail.com">email</a></li>
        		<li><a href="https://github.com/WesleyTat">github.com/WesleyTat</a></li>
			</ul>
		</footer>
		<img src= "https://usatftw.files.wordpress.com/2015/01/elatedcolorfulibadanmalimbe.gif?w=1000" alt= "some_text" style: "20:40;20:40;">
	</body>
</html>
 <img> 
